<!DOCTYPE html>
<html lang="en">
<head>
  <title>Blood Aid Bank, Jashore</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <style>
    .carousel-inner img {
      width: 100%;
    }

    .footer {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: lightgray;
        text-align: center;
      }
    </style>
</head>
  <body>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <!-- Brand -->
    <!--a class="navbar-brand" href="#"><img src="logo.jpg" class="rounded-circle" alt="logo" width="15%" height="15%"></a-->
      <img src="logo.jpg" class="rounded-circle" alt="logo" width="2%" height="2%">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="\member">About</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="\donorform">Donor Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="\booking">Booking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="\donorlist">Donor List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="\bookinglist">Booking List</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Contact
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Admin</a>
          <a class="dropdown-item" href="\moderator">Moderator</a>
        </div>
      </li>
    </ul>
  </nav>
  <br>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>Welcome to</h3>
      <p>Blood Aid Bank, Jashore</p>

      <div id="demo" class="carousel slide " data-ride="carousel">
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/photo/city.jpg" alt="city" width="300" height="250">
              <div class="carousel-caption">
                <h3>Los Angeles</h3>
                <p>We had such a great time in LA!</p>
              </div>   
            </div>
            <div class="carousel-item">
              <img src="/photo/man.jpg" alt="man" width="350" height="250">
              <div class="carousel-caption">
                <h3>Chicago</h3>
                <p>Thank you, Chicago!</p>
              </div>   
            </div>
            <div class="carousel-item">
              <img src="/photo/profile.jpg" alt="profile" width="350" height="250">
              <div class="carousel-caption">
                <h3>New York</h3>
                <p>We love the Big Apple!</p>
              </div>   
            </div>
          </div>
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>

      <div class="col-sm-3" style="font-family: sans-serif">
        <h4 class="bg-light" style="text-align: center;">Notice Board</h4>
        <p>News</p>
    </div>

      <div class="col-sm-3" style="font-family: sans-serif;">
          <h4 class="bg-light" style="text-align: center;">Notice Board</h4>
      </div>

      </div>

    </div>
    <div class="container footer">
      <i>Ahsan Habib, CSE-JUST</i>
    </div>

  </body>

</html>
